body {
	background-image: url("starrySky.jpg");
	color: #ffffff;
}
header {
	background-color: #00e6e6;
	color: #00994d;
	text-align: center;
	text-decoration: underline;
	font-family: papyrus;
	font-size: 1.5em;
}
footer {
	background-color: #ffaa33;
	color: #00994d;
	text-align: center;
	font-family: Arial;
	width: 100%;
}
ul {
	list-style-position: inside;
	list-style-type: square;
}
nav {
	margin: .5em 1em;
}
h2 {
	color: #ffffff;
	font-family: Arial;
	font-size: 1.5em;
}
.main {
	background-color: teal;
	border: 1em ridge #80ffff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	box-shadow: 0px 0px 20px 15px white;
	width: 80%;
}
.content {
	border: .5em ridge #80ffff;
	margin-left: 5px;
	margin-right: 5px;
	font-family: Arial;
	padding-left: 1em;
	padding-right: 1em;
	min-height: 600px;
}
.floatImgLeft {
	float: left;
	margin-right: .5em;
	border: .5em ridge #80ffff;
}
.floatImgRight {
	float: right;
	margin-left: .5em;
	border: .5em ridge #80ffff;
}
.floatImgCenter {
	margin-left: auto;
	margin-right: auto;
	border: .5em ridge #80ffff;
}